<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="ml-2 text-primary">Sort</h5>
            <select class="custom-select mb-3">
                <option selected>Product Name</option>
                <option value="priceAsc">Price: Low to High</option>
                <option value="priceDesc">Price: High to Low</option>
            </select>

            <h5 class="ml-2 text-primary">Brand</h5>
            <ul class="list-group my-4">
                <li class="list-group-item"
                    *ngFor="let item of brands" 
                    [ngClass]="{active: (item.id === spec.brandId)}"
                    (click)="setBrandFilter(item.id)">{{item.name}}</li>
            </ul>

            <h5 class="ml-2 text-primary">Category</h5>
            <ul class="list-group my-4">
                <li class="list-group-item"
                    *ngFor="let item of categories" 
                    [class.active]="item.id == spec.categoryId"
                    (click)="setCategoryFilter(item.id)">{{item.name}}</li>
            </ul>
        </section> 
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header><span>Showing <strong class="text-primary">10</strong> of <strong class="text-primary">15</strong> results</span></header>
                <div class="form-inline mt-2 mt-md-0">
                    <input (keyup)="searchProducts($event)" class="form-control mr-sm-2" type="text" style="width: 300px" placeholder="Search" aria-label="Search">
                    <!-- <input [(ngModel)]="spec.search" class="form-control mr-sm-2" type="text" style="width: 300px" placeholder="Search" aria-label="Search"> -->
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2 my-sm-0" type="submit">Reset</button>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let item of products?.data" class="col-md-4 mb-4">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-between">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
    
</div>
