<div
  class="
    fixed-top
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
    p-3
    px-md-4
    mb-3
    bg-white
    border-bottom
    shadow-sm
  "
>
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal">BuyEm'All</h5> -->
  <h5 class="my-0 font-weight-normal">BuyEm'All</h5>
  <nav class="my-2 my-md-0 mr-md-3" style="font-size: medium">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2"
      >Home</a
    >
    <a routerLink="/shop" routerLinkActive="active" class="p-2">Shop</a>
    <a [routerLink]="['/contact']" routerLinkActive="active" class="p-2"
      >Contact</a
    >
  </nav>
  <div class="d-flex align=align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-primary mr-2" routerLink="/account/login"
      >Login</a
    >
    <a class="btn btn-outline-primary mr-3" routerLink="/account/register"
      >Sign up</a
    >
  </div>
</div>
